<script src="https://unpkg.com/showdown@1.9.1/dist/showdown.min.js"
integrity="sha384-TTjj1KxpUMxMChPbgmSWLlfEep0/67X86v9lnJMkldzkQGHZNAhZRgE9owovIRyz"
crossorigin="anonymous"></script>

<script src="https://unpkg.com/dompurify@2.4.1/dist/purify.min.js"
integrity="sha384-arqXKBMaxueqlbHTzDnjId9y+DYmnmjBWr2t2wXFAUwg00iJKZe5ItR/bQQAaaHp"
crossorigin="anonymous"></script>

<script>
const GH_API_URL = 'https://api.github.com/repos/bitsgalore/bitsgalore.github.io/issues/{{page.comment_id}}/comments?per_page=100';
/* jshint globalstrict:true */
/* global DOMPurify */
'use strict';

let request = new XMLHttpRequest();
request.open( 'GET', GH_API_URL, true );
request.onload = function() {
	if ( this.status >= 200 && this.status < 400 ) {
		let response = JSON.parse( this.response );

		for ( var i = 0; i < response.length; i++ ) {
			document.getElementById( 'gh-comments-list' ).appendChild( createCommentEl( response[ i ] ) );
		}

		if ( 0 === response.length ) {
			document.getElementById( 'no-comments-found' ).style.display = 'block';
		}
	} else {
		console.error( this );
	}
};

function createCommentEl(response) {
	let user = document.createElement('p');
	user.classList.add('user');

	let avatar = document.createElement('a');
	avatar.setAttribute( 'href', response.user.html_url );

	let avatarImage = document.createElement('img');
	avatarImage.classList.add('avatar');
	avatarImage.setAttribute('src', response.user.avatar_url);

	avatar.appendChild(avatarImage)
	user.appendChild(avatar)

	let userName = document.createElement('a');
	userName.setAttribute('href', response.user.html_url);
	userName.innerHTML = response.user.login;
	let t = document.createTextNode(' wrote:');

	user.appendChild(userName);
	user.appendChild(t);

	let commentLink = document.createElement('a');
	commentLink.setAttribute('href', response.html_url);
	commentLink.classList.add('comment-url');
	commentLink.innerHTML = response.created_at;

	let commentContents = document.createElement('div');
	commentContents.classList.add('comment-content');
	commentContents.innerHTML = DOMPurify.sanitize(response.body);

	// Progressive enhancement.
	if (window.showdown) {
		let converter = new showdown.Converter();
		commentContents.innerHTML = DOMPurify.sanitize(converter.makeHtml(response.body));
	}

	let comment = document.createElement('li');
	comment.setAttribute('data-created', response.created_at);
	comment.setAttribute('data-author-avatar', response.user.avatar_url);
	comment.setAttribute('data-user-url', response.user.url);

	comment.appendChild(user);
	comment.appendChild(commentContents);
	comment.appendChild(commentLink);

	return comment;
}
request.send();
</script>

<div class="github-comments">
    <!-- Adapted from https://aristath.github.io/blog/static-site-comments-using-github-issues-api -->
    <h2>Comments</h2>
    <ul id="gh-comments-list"></ul>
	<div class="buttonArea">
	  <a target="_blank" href="https://github.com/bitsgalore/bitsgalore.github.io/issues/{{page.comment_id}}" class="button">Post comment (Github)</a>
	</div>
</div>
<hr>
