---
---

#container {
    /*width:1200px;
    margin:20px auto;*/
}

#header {
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}


#content {
    float:left;
    width:48%;
    max-width: 730px;
    min-width: 500px;
    /*min-width: 740px;
    max-width: 740px;*/
}

#footer {
  clear:both;
}

#sidebarLeft {
    float:left;
    width:17%;
    min-height: 1px;
}

#sidebarRight {
    float:left;
    width:35%;
    min-width: 200px;
    max-width: 500px;
}

#footerLeft {
    float:left;
    width:17%;
    min-height: 1px;
}

#footerContent {
  float:left;
  width:48%;
  max-width: 730px;
  min-width: 500px;
  font-family: 'Lato';
  font-size: 18px;
}

#footerRight {
  float:left;
  width:35%;
  min-width: 200px;
  max-width: 500px;
}

.banner-header{
    padding-top: 50px;
    margin-bottom: 50px;
  }

.banner-tagline{
  font-family: 'Lato';
  font-size:32px;
  letter-spacing:5px;
  font-weight:bold;
  text-align:center;
  color:#595959;
  padding-top: 30px;
  margin-bottom: 0px;
  }

.content p{
  margin-bottom: 30px;
}

.footnotes{
  border-top: 2px solid black;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 15px;
  }

.pagination {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}


.pagination a {
  color: #595959;
  background-color: white;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
}

.pagination a.active {
  background-color:white;
  color: #595959;
  border-radius: 4px;
}
  
.pagination a:hover:not(.active) {
  background-color: #e5e5e5;
  color: #595959;
  border-radius: 4px;
}

.pagination a:not(.active) {
  background-color: #595959;
  color: white;
  border-radius: 4px;
}

.post-entry{
  padding-bottom: 80px;
}

.post-entry .date {
  margin-bottom: 20px;
  font-weight: bold;
  color: #666666;
}

.post-entry small{
  color: #666666;
}

footer {
}
  
.sidebarGroup{
  font-family: 'Lato';
  font-size:22px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 150px;
  margin-right: 0px;
  border-bottom: 2px solid black;
  }
  
.sidebarGroup p{
  line-height:120%;
  }  

.sidebarGroup a{
  line-height:120%;
  }  

.sidebarGroup h2{
  font-family: 'Lato';
  font-weight: bold;
  font-size:28px;
  line-height:120%;
  padding-top: 0px;
  } 

.sidebarGroup h3{
  font-family: 'Lato';
  font-weight: bold;
  font-size:20px;
  line-height:120%;
  padding-top: 0px;
  } 

.sidebarGroup small{
  color:#404040;
}

.sidebarGroup figure figcaption{
    font-size:14px;
    text-align: center;
    font-style:normal;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    }

body{
    font-family: 'Lato';
    font-size: 22px;
    line-height: 150%;
  }

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  content: no-close-quote;
}
blockquote p {
  display: inline;
  font-family: 'Lato';
  font-weight: normal;
  font-style: italic;
  font-size: 22px;
  color: #595959;
  line-height: 150%;
}

.content h1{
    font-family: 'Lato';
    font-size:48px;
    line-height: 120%;
    font-weight: bold;
    text-align:left;
    padding-top:10px;
    padding-bottom:10px;
}

.content h2{
    font-family: 'Lato';
    font-size:36px;
    line-height: 120%;
    font-weight: bold;
    text-align:left;
    padding-top:10px;
    padding-bottom:10px;
}

.content h3{
    font-family: 'Lato';
    font-size:28px;
    line-height: 120%;
    font-weight: bold;
    text-align:left;
    padding-top:10px;
    padding-bottom:10px;
}

.content h4{
    font-family: 'Lato';
    font-size:24px;
    line-height: 120%;
    font-weight: bold;
    text-align:left;
    padding-top:10px;
    padding-bottom:10px;
}

.img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 .content img{
  margin-top: 20px;
  margin-bottom: 20px;
 }

figure{
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-left:0px;
  padding-right:0px;
  margin-top:0px;
  margin-bottom: 30px;
  }

figure img{
  margin-bottom: 20px;
}

figure video{
  margin-bottom: 20px;
}
figure figcaption{
    font-size:20px;
    font-style:italic;
    line-height: 120%;
    margin-top: -10px;
    margin-bottom: 0px;
    text-align: left;
    padding-left: 20px;
    text-indent: -20px;}

.content ul, ol{
  margin-bottom: 20px;
}

.content li {
  line-height: 150%;
}

table{
  font-size:18px;line-height:120%;
  border-collapse:collapse;
  margin-top: 20px;
  margin-bottom: 20px;
  }

td, th{
 padding:15px;
 border: 1px solid black; }

code, pre{
    font-size:16px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button {
  background-color: #595959;
  border: none;
  border-radius: 4px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.button:hover {
  background-color: #e5e5e5;
  color: #595959;
}

.buttonArea {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full
.post-full{
  padding-top: 20px;
}
*/

.post-full .date {
  margin-bottom: 20px;
  font-weight: bold;
  color: #666666;
}

/* tag_box */
.tag_box {
  font-size: 18px;
  list-style: none;
  margin: 0;
  overflow: hidden;
}

.tag_box li {
  line-height: 120%; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline ul li {
    float: none;
    list-style-type: none;
    text-indent: -20px;
    padding-top: 5px;
    padding-bottom: 5px;;
}

.tag_box details summary{
  background: #eee;
  padding: 3px 6px;
  margin: 2px;
  border-radius: 3px;
  text-decoration: none;
  border: 1px none #595959;
 }

.tag_box details summary:hover {
  background-color: #e5e5e5; }

.archive ul{
  list-style-type: none;
  padding-left: 20px;
  margin: 0px;
}

.archive li{
  text-indent: -20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.github-comments ul{
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.github-comments li{
  border: 1px solid black;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.github-comments li ul li{
  border: none;
}

.github-comments li ol li{
  border: none;
}

.github-comments .user{
  font-weight: bold;
}

.github-comments .avatar{
  margin-left: 0px;
  margin-right: 20px;
  max-width: 64px;
  max-height: 64px;
}
